    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }

    