    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }

    .about{
        background-color: #F0FBFF;
        display: flex;
        border-radius: 2rem;
        margin: 2rem 10rem 2rem 10rem;
        display: flex;
        justify-content: space-between;
    }
    .about img{
        margin: 2rem;
    }

    .about .about-myself h3{
        font-size: 2rem;
        font-weight: 500;
    }
    .about .about-myself{
        background-color: #F0FBFF;
        float: right;
        margin: 2rem 0 0 5rem;
    }
    