    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }

    .about{
        background-color: #F0FBFF;
        display: flex;
        border-radius: 2rem;
        margin: 2rem 10rem 2rem 10rem;
        display: flex;
        justify-content: space-between;
    }
    .about img{
        margin: 2rem 0rem 0rem 4rem;
        border-radius: 10%;
    }
    .about .about-myself h2{
        font-size: 1.5rem;
        margin: 0  0 1rem 0;
        color: #8b02fc;
    }

    .about .about-myself p{
        font-size: 1rem;
        padding: 5px;
        line-height: 30px;
       
    }
    .about .about-myself{
        background-color: #F0FBFF;
        float: right;
        margin: 2rem 0 0 5rem;
    }
    .about h3{
        float: right;
         margin-bottom: 1rem;
            margin-right: 1rem;
            font-style: italic;
    }
    @media screen and (max-width: 768px){
        .about{
            flex-direction: column;
            margin: 2rem 2rem 2rem 4rem;
        }
        .about img{
            margin: 2rem 0rem 0rem 7rem;
        }
        .about .about-myself{
            margin: 2rem 0rem 0rem 0rem;
        }
        .about h3{
            float: right;
            margin: 0rem 0rem 0rem 0rem;
        }
    }
        