*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family:serif;
}


.All-Certificates, .more_certi_container, .more_badges_container{
      display: block;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 10px;
    }

.certificates {
  display: block;
  border: 1px solid rgb(146, 8, 226);
  text-align: center;
  font-size: 15px;
  padding-top: 1rem;
  font-family: serif;
  font-size: 18px;
  color:rgb(3, 3, 3);
}

.name{
  font-size: 20px;
  color: #370be6;
}


.see{
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;

}
.btn{
  display: block;
  background-color: #5E3BEE;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(252, 252, 252);
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: serif;
  border-style: inset;
  margin-top: 2rem;
  color: #5E3BEE;
  background-color: rgb(241, 246, 250);
}

@media screen and (max-width: 768px){
  .All-Certificates, .more_certi_container, .more_badges_container{
      display: grid;
      grid-template-columns:auto auto;
      gap: 10px;
      background-color: #fcfcfc;
      padding: 10px;
    }
}
@media screen and (max-width: 500px){
  .All-Certificates, .more_certi_container, .more_badges_container{
      display: grid;
      grid-template-columns:auto;
      gap: 10px;
      background-color: #fcfcfc;
      padding: 10px;
    }
}


.more_certi_container {
padding: 0;
height: 0;
visibility: hidden;
opacity: 0;
transition: all 0.1s ease-in-out;
}
.more_certi_container.active {
height: 100%;
visibility: visible;
opacity: 1;
}

/* badges css */
.more_badges_container{
padding: 0;
height: 0;
visibility: hidden;
opacity: 0;
transition: all 0.1s ease-in-out;
}
.more_badges_container.active{
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* additional-pictures */
.additional-pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}