    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
   

    .All-Certificates{
        position: relative;
        background-color: #F5F5F5;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 1rem 6rem 0 ;
        flex-wrap: wrap;
    }
  
    .certificates img:hover{
        -webkit-filter: blur(2px);
    } 
    .see{  
        background-color: #F5F5F5;
        align-items: center;
        justify-content: center;
        display: flex;
    }
      .btn { 
        margin-top:1.5rem;
        background-color: #e610c9;
        border: 1px solid #000;
        padding: 0.5rem 1rem;
        border-radius: 5px;
   
        
    }
