*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family:serif;
}


.All-Certificates, .more_certi_container, .more_badges_container{
      display: block;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      background-color: #fcfcfc;
      padding: 10px;
    }

.certificates {
  display: block;
  background-color: rgba(235, 249, 252, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  padding-top: 1rem;
  font-family: serif;
  font-weight: bold;
  color:rgb(235, 5, 223);
}

.name{
  font-size: 20px;
  color: blue;
}


.see{
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;

}
.btn{
  display: block;
  background-color: #f104b6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(253, 253, 253);
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: serif;
  border-style: inset;
  margin-top: 2rem;
  color: rgb(6, 142, 184);
  background-color: aliceblue;
}
/* ewkihseryw****************************************************** */
/* ********************************************************************* */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container{
  padding-left: 10rem;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* ********************************************************************* */
/* ********************************************************************* */

@media screen and (max-width: 768px){
  .All-Certificates, .more_certi_container, .more_badges_container{
      display: grid;
      grid-template-columns:auto auto;
      gap: 10px;
      background-color: #fcfcfc;
      padding: 10px;
    }
}
@media screen and (max-width: 500px){
  .All-Certificates, .more_certi_container, .more_badges_container{
      display: grid;
      grid-template-columns:auto;
      gap: 10px;
      background-color: #fcfcfc;
      padding: 10px;
    }
}


.more_certi_container {
padding: 0;
height: 0;
visibility: hidden;
opacity: 0;
transition: all 0.1s ease-in-out;
}
.more_certi_container.active {
height: 100%;
visibility: visible;
opacity: 1;
}

/* badges css */
.more_badges_container{
padding: 0;
height: 0;
visibility: hidden;
opacity: 0;
transition: all 0.1s ease-in-out;
}
.more_badges_container.active{
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* additional-pictures */
.additional-pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}