/* Global styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  
  /* Header styles */
  
  header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  header nav {
    display: inline-block;
    float: right;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  header nav li:first-child {
    margin-left: 0;
  }
  
  header nav a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
  }
  
  header nav a:hover {
    background-color: #0062cc;
  }
  
  /* Main content styles */
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  main ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  main li {
    margin-bottom: 10px;
  }

  .Contact {
    text-align: center;
    margin-top: 50px;
  }
  
  .Contact h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    transition: all 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  /* Footer styles */
  
  .footer {
    background-color: #f0fbff;
    width: 100%;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  footer ul li {
    margin: 1rem 1rem;
  }
  
  .footer2 {
    display: flex;
    justify-content: center;
  }
  .footer2 ul a {
    color: rgb(139, 139, 139);
    margin: 1rem;
  }
  .footer2 ul li {
    margin: 0 0 1rem 0;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    header nav {
      float: none;
      display: block;
      text-align: center;
    }
  
    header nav li {
      display: block;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  