@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.navigation {
  height: 70px;
  background: #aae6fc;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.brand a,
.brand a:visited {
  color: black;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: 25px;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #aae6fc;
  color: black;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #E62872;
  color: black;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #aae6fc;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.btn2 {
  background: #5E3BEE;
  padding: 7px 30px;
  color: rgb(252, 252, 252);
  font-size: 22px;
  font-weight: normal;
  border-radius: 10px;
  border-style: none;
  display: block;
  float: right;
  position: relative;
  margin: 0rem 7.4rem 2rem;
  cursor: pointer;
}

.btn2 a {
  color: #ffffff;
}

/* extra style for button */
.btn2 {
  padding: 7px 30px;
  font-size: 22px;
  background-color:#5E3BEE;
  border: none;
  float: right;
  margin: 0rem 7.4rem 2rem;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn2:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn2:active {
  color: #000
}

.btn2:active:after {
  background: transparent;
}

.btn2:hover:before {
  opacity: 1;
}

.btn2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5E3BEE;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.main {
  background: #F0FBFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.photo img {
  margin: 1rem 5rem 0 7rem;
}

.main .name {
  color: #5E3BEE;
  font-size: 40PX;
}

.main h1 {
  padding: 100px 0px 0px 150px;
  font-size: 35px;
  color: #282938;
}

.main p {
  padding: 20px 0 0 150px;
  font-size: 25px;
  font-weight: lighter;
  color: #282938;
}

.main h4 {
  padding: 20px 0 0 150px;
  font-size: 20px;
  font-weight: lighter;
  color: #2b2c3b;
}

.main h4 a {
  color: #2b2c3b;
  text-decoration: none;
}

.btn1 {
  display: inline-block;
  border-radius: 10px;
  background-color: #E62872;
  border-color: #E62872;
  font-size: 22px;
  font-weight: normal;
  margin-left: 40px;
  margin: 1rem 0 0 0;
  padding: 5px 30px;
  cursor: pointer;
}
.btn1:hover{
  background-color: rgb(238, 46, 152);
}
.main .btn1 a {
  color: #ffffff;
}
.social ul {
  display: flex;
  margin: 2rem 0 0 0rem;
  justify-content: space-between;
  width: 150px;
  position: relative;
}

.career h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;
}

.career p {
  margin: 10px 0 0 100px;
  color: #282938;
}
.work-profile{
    background-color:#f0fbff;
    padding: 20px 0 20px 0;
    border-radius: 2rem;
}
.work-profile h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;

}

.work-profile h3 {
  margin: 10px 0 0 100px;
  color: #ffffff;
  background-color: #f81d6e;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}

.intern ul li {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
  list-style: disc;
}

.intern ul li a {
  color: #282938;
  text-decoration: none;
}

.tool {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px solid black; */
}

.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(238, 238, 238);
  color: rgb(2, 2, 2);
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  width: 120px;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tool:hover .tooltiptext {
  visibility: visible;
}

.exper ul li {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
  list-style: disc;
}

.SoftwareEngineer {
  color: #5E3BEE;
  font-weight: bold;
}

.projects {
  background: #F0FBFF;
  width: 100%;
  display: flex;
  padding: 20px 0 20px 0;
  border-radius: 2rem;
}

.projects h2 {
  margin: 20px 0 0 100px;
  color: #5E3BEE;
}

.projects h3 {
  margin: 10px 0 0 100px;
  color: #ffffff;
  background-color:  #f81d6e;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}

.projects p {
  margin: 10px 0 0 100px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #282938;
}

.projects .second h3 {
  margin: 10px 0 0.5rem 0px;
  color: #ffffff;
  background-color: #f81d6e;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}

.projects .second {
  font-size: 17px;
  line-height: 25px;
  color: #282938;
  margin: 3rem 0 0 5rem;
}

.projects .badge {
  margin: 3rem 3rem 1rem 3rem;
  transition: transform .3s ease-in-out;
  filter: drop-shadow(6px 6px 3px rgba(61, 107, 93, 0.53));
}

.projects .badge :hover{
  transform: scale(1.1); 
}
.btn6 {
  float: right;
  margin: 12rem 5rem 1rem 0rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.Academic-Profile {
  background-color: #F0FBFF;
  width: 100%;
  border-radius: 2rem;
  list-style: disc;
  padding: 20px 0 20px 0;
}
.Academic-Profile h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;
}

.Academic-Profile h3 {
  margin: 10px 0 0 100px;
  color: #ffffff;
  background-color:  #f81d6e;
  width: 20%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}

#edu ul li {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
  list-style: disc;
}

.skills {
  display: flex;
}

.Technical-Knowledge {
  background-color: #F0FBFF;
  padding: 20px 0 20px 0;
  margin: 0 3rem;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: inset 5px 5px 1px rgba(40, 41, 56, 0.25);
}

.Technical-Knowledge h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;
}

.Technical-Knowledge p {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
}

.Languages {
  background-color: #F0FBFF;
  padding: 20px 0 20px 0;
  margin: 0 3rem;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
}

.Languages h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;
}

.Languages p {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
}

.btn3 {
  background: #E62872;
  padding: 7px 30px;
  color: rgb(252, 252, 252);
  font-size: 22px;
  font-weight: normal;
  border-radius: 10px;
  border-style: none;
  display: block;
  float: right;
  margin: 1rem 3rem 2rem;
  cursor: pointer;
  filter: drop-shadow(6px 6px 3px rgba(110, 121, 118, 0.53));
}

.Achivements h2 {
  margin: 10px 0 0 100px;
  color: #5E3BEE;
  text-decoration: underline;
  text-align: center;
  margin: 3rem 0 0rem 30rem;
}

.Achivements p {
  margin: 10px 0 0 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #282938;
}


.footer {
  background-color: #aae6fc;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
footer ul li {
  margin: 1rem 1rem;
}

.footer2 {
  display: flex;
  justify-content: center;
}
.footer2 ul a {
  color: rgb(139, 139, 139);
  margin: 1rem;
}
.footer2 ul li {
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F0FBFF;
  }
  .photo img {
    justify-content: center;
    align-items: center;
    margin: 1% 2.5% 1% 8.5%;
  }
  .main h1 {
    padding: 7rem 0 2rem 3rem;
    font-size: 35px;
    color: #282938;
  }
  .main p {
    padding: 0rem 0 0rem 3rem;
    font-size: 25px;
    font-weight: lighter;
    color: #282938;
  }
  .main h4 {
    padding: 1rem 0 0rem 3rem;
    font-size: 20px;
    font-weight: lighter;
    color: #2b2c3b;
  }
  .btn1 {
    margin: 1rem 0rem 0 0;
  }
  .btn2 {
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
  }
  .social ul {
    display: flex;
    margin: 1rem 0rem 0 0;
  }
  .career h2 {
    margin: 1rem 0rem 0 3rem;
    color: #5E3BEE;
  }
  .career p {
    margin: 1rem 0 0 3rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #282938;
  }
  .work-profile h2 {
    margin: 1rem 0rem 0 3rem;
    color: #5E3BEE;
  }
  .work-profile h3 {
    margin: 1rem 0rem 0 3rem;
  }
  .work-profile p {
    margin: 1rem 0 0 3rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #282938;
  }
  .projects {
    display: block;
  }
  .projects h2 {
    margin: 1rem 0rem 0 3rem;
    color: #5E3BEE;
    padding-top: 1rem;
  }
  .projects h3 {
    margin: 1rem 0rem 0 6rem;
    color: rgb(255, 255, 255);
  }
  .projects .second{

    margin: 3rem 0rem 0 6rem;
    color: #282938;
  }
  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
  }
  .back .btn6{
    margin: 1rem 0rem 0 0;
  }
  .Academic-Profile h2 {
    margin: 1rem 0rem 0 3rem;
    color: #5E3BEE;
    padding-top: 1rem;
  }
  .Academic-Profile h3 {
    margin: 1rem 0rem 0 3rem;
    width: 55%;
    height: 100%;
  }
  .skills {
    display: block;
  }
  .Technical-Knowledge {
    background-color: #F0FBFF;
    margin: 0 0 1rem 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: inset 5px 5px 1px rgba(40, 41, 56, 0.25);
  }
  .Technical-Knowledge h2 {
    margin: 1rem 0rem 0 3rem;
    color: #5E3BEE;
    padding-top: 1rem;
  }
  .Technical-Knowledge p {
    margin: 1rem 0 0 3rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #282938;
  }
  .Languages {
    background-color: #F0FBFF;
    margin: 0%;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
  }
  .Languages h2 {
    margin: 1rem 0 0 3rem;
    color: #5E3BEE;
    padding-top: 1rem;
  }
  .Languages p {
    margin: 1rem 0 0 3rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #282938;
  }
  .btn3 {
    display: flex;
    margin: 1rem 0rem 0 0;

  }
  .Achivements h2 {
    margin: 3rem 0rem 0 3rem;
    /* display: flex;
    margin: 5rem 5rem 0 5rem; */
  }
  .Achivements p {
    margin: 1rem 0 0 2rem;
  }
  
}